#hero {
  background-color: $color-cyan-light;
  position: relative;
  z-index: 1;
  @include respond(small-laptop) {
    background-color: transparent;
    width: 100%;
    margin: 0 auto;
  }
}
.intro {
  width: $grid-width;
  margin: 0 auto;
  height: 65rem;
  padding: 3rem;
  background-color: $color-white;
  box-shadow: 0rem 0.5rem 2rem rgba($color-dark, $alpha: 0.2);
  border-radius: 10px; // make this border-radius a variable
  transform: translateY(3rem);

  @include respond(small-laptop) {
    transform: translateY(0rem);
    width: 95%;
    height: auto;
    margin: 0 auto;
  }
}
#stardew-valley {
  width: 98%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0.5rem auto;
  @include respond(small-laptop) {
    width: 100%;
    height: 50rem;
  }
}
.breadcrumb {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 98%;
  margin: 0 auto;

  &__item {
    list-style-type: none;
  }

  &__link {
    text-decoration: none;
    font-weight: 600;
    color: $color-dark;
    font-size: 1.2rem;

    span {
      display: inline;
      margin: 0.5rem;
    }
  }
}
.stardew--price {
  width: 40%;
}
.stardew-text {
  text-transform: capitalize;
  border-left: 2px solid $color-primary-red;
  width: auto;
  height: 2rem;
  font-size: 1.3rem;
  padding-left: 0.5rem;
  font-weight: 400;
  display: flex;
}
.secondary-heading {
  font-size: 2.6rem;
  text-transform: capitalize;
  margin: 2rem 0rem;
  font-weight: 800;
}
.price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.stardew-icon {
  fill: $color-primary-red;

  &:hover {
    cursor: pointer;
  }
}
.stardew--points {
  display: flex;
  align-items: center;
  font-size: 1.2rem;

  &__icon {
    fill: goldenrod;
  }
}
.purchase--text {
  font-size: 1.2rem;
}
