#hero {
  background-color: $color-cyan-light;
  position: relative;
  z-index: 1;
  // border: 1px solid red;
}
.intro {
  // max-width: $grid-width;
  width: $grid-width;
  margin: 0 auto;
  // border: 1px solid red;
  height: 56rem;
  padding: 3rem;
  background-color: $color-white;
  box-shadow: 0.5rem 0.5rem 1rem rgba($color-dark, $alpha: 0.2);
  border-radius: 10px; // make this border-radius a variable
  transform: translateY(3rem);
}
#stardew-valley {
  width: 95%;
  // border: 1px solid green;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0.5rem auto;
}
.breadcrumb {
  display: flex;
  flex-direction: row;
  align-items: center;
  // margin-left: ;
  margin: 0 0 1.2rem 2.3rem;
  // border: 1px solid red;

  &__item {
    list-style-type: none;
    // padding: 0.5rem 1rem;
  }

  &__link {
    text-decoration: none;
    font-size: 1rem;
    // font-weight: 300;
    color: $color-dark;

    span {
      display: inline;
      margin: 0.5rem;
    }
  }
}
.stardew--price {
  // border: 1px solid red;
  width: 40%;
}
.stardew-text {
  text-transform: capitalize;
  border-left: 2px solid $color-primary-red;
  width: auto;
  height: 1.5rem;
  padding-left: 0.5rem;
  font-size: 1.3rem;
  // margin-bottom: 2rem;
  font-weight: 200;
}
.secondary-heading {
  font-size: 2.6rem;
  text-transform: capitalize;
  margin: 2rem 0rem;
}
.price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.stardew-icon {
  fill: $color-primary-red;

  &:hover {
    cursor: pointer;
  }
}
.stardew--points {
  display: flex;
  align-items: center;

  &__icon {
    fill: goldenrod;
  }
}
