#hero {
  background-color: $color-cyan-light;
  position: relative;
  z-index: 1;
  // border: 1px solid red;
}
.intro {
  max-width: $grid-width;
  margin: 0 auto;
  border: 1px solid red;
  height: 56rem;
  padding: 3rem;
  background-color: $color-white;
  box-shadow: 0.5rem 0.5rem 1rem rgba($color-dark, $alpha: 0.2);
  border-radius: 10px; // make this border-radius a variable
  transform: translateY(3rem);
}
#stardew-valley {
  width: 107rem;
  height: 100%;
  border: 1px solid green;
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin: 0 auto;
  // gap: 1rem;
}
.breadcrumb {
  display: flex;
  flex-direction: row;
  align-items: center;
  // border: 1px solid red;

  &__item {
    list-style-type: none;
    padding: 0.5rem 1rem;
  }

  &__link {
    text-decoration: none;
    font-size: 1.4rem;
    // font-weight: 300;
    color: $color-dark;

    span {
      display: inline;
      margin: 0.5rem;
    }
  }
}
