.main {
  width: $grid-width;
  height: auto;
  margin: 10rem auto 5rem auto;
  @include respond(small-laptop) {
    width: 100%;
  }
}
.stardew-intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 98%;
  // not done
  margin: 0 auto;
  padding: 2rem;

  &__image {
    display: block;
    width: 48%;
    height: 30rem;
    border-radius: 1rem;
  }
}
.moving {
  width: 50%;
}
.btn-explore {
  height: 5rem;
  width: 70%;
  margin-bottom: 2rem;
  font-size: 1.4rem;
}

.moving-text {
  font-size: 1.5rem;
  word-spacing: 0.2em;
  line-height: 1.5;
}
#read-more {
  display: flex;
  align-items: center;
  width: 50%;
  // border: 1px solid red;
  margin: 1rem 0rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: $color-primary-red;
  font-weight: 700;
}
.more--icon {
  fill: $color-primary-red;
  width: 1.5rem;
  margin-right: 0.5rem;
}
#note {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
