.btn {
  &,
  &:link,
  &:visited {
    background-color: $color-primary-red;
    text-decoration: none;
    color: $color-white;
    border-radius: 1rem;
    font-size: 1.4rem;
    font-weight: 600;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
.btn--animated {
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scaleX(1.1) scaleY(1.1);
    background-color: rgba($color-primary-red-dark, 1);
  }
}

.btn--download {
  width: 100%;
  height: 5rem;
  margin: 2rem 0;
}
.btn-icon {
  fill: $color-white;
  margin-right: 1.3rem;
}
