.carousel {
  // border: 1px solid salmon;
  position: relative;
  width: 55%;
  overflow-x: hidden;
  // margin-right: 5rem;

  &__track {
    // width: 100%;
    height: 100%;
    list-style: none;
    position: relative;
    transition: transform 0.7s ease-in-out;
  }
  &__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
  }
  &__indicator {
    width: 9rem;
    height: 5rem;
    margin: 1rem 0;
    border-radius: 1rem;
    border: transparent;
    // background-color: salmon;
    &:not(:last-child) {
      margin-right: 2rem;
    }
    &--image {
      max-width: 100%;
    }
    &:hover {
      border-bottom: 3px solid $color-primary-red;
      cursor: pointer;
    }
  }
  &__nav {
    // background-color: aquamarine;
    display: flex;
    flex-direction: row;
    width: 80rem;
    // border: 1px solid blue;
    position: relative;

    &--button {
      opacity: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: transparent;
      border: 0;
      height: 5rem;
      width: 5rem;
      z-index: 10;
      transition: opacity 0.6s ease-in;
      background-color: rgba($color-dark, 0.3);
      border-radius: 1rem;
      &:hover {
        cursor: pointer;
      }
    }

    &:hover {
      cursor: pointer;
      .carousel__nav--button {
        opacity: 1;
      }
    }
  }
}
.track-container {
  // border: 1px solid salmon;
  // background-color: aqua;
  text-align: center;
  position: relative;
  width: 100%;
  height: 30rem;
  overflow: hidden;

  &:hover {
    cursor: progress;

    .track-container__button {
      opacity: 1;
      transition: opacity 0.5s;
    }
  }

  &__button {
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    height: 5rem;
    width: 5rem;
    z-index: 10;
    // transition: transform 10s linear;
    cursor: pointer;

    &--icon {
      transition: all 0.1s linear;
      &:hover {
        transform: scale(1.4);
      }
    }
  }
}
.is-hidden {
  display: none;
}
// style for the buttons
.btn-1 {
  background-image: url("../../resources/images/1.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  // border: 1px solid red;
}
.btn-2 {
  background-image: url("../../resources/images/2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5;
}
.btn-3 {
  background-image: url("../../resources/images/3.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}
.btn-4 {
  background-image: url("../../resources/images/4.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}
.btn-5 {
  background-image: url("../../resources/images/5.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}
.btn-6 {
  background-image: url("../../resources/images/6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}
.btn-7 {
  background-image: url("../../resources/images/7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}
// end of styling the button

.button--right {
  fill: $color-white;
  right: 0rem;
  position: absolute;
}
.button--left {
  fill: $color-white;
  left: 0rem;
}
.nav--right {
  right: 31rem;
  fill: $color-white;
}
.esrb {
  width: 80%;
  height: 8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  // margin-top: .5rem;
  // border: 1px solid red;

  &__image {
    width: 5rem;
  }

  &__text {
    width: 86%;
  }
}
