#online {
  width: $grid-width;
  height: 35rem;
  display: flex;
}
.online {
  width: 95%;
  margin: 0 auto;
  padding: 1rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;

  &__left {
    width: 50%;
    &--logo {
      height: 4rem;
      margin-bottom: 2rem;
      // border: 1px solid purple;
    }
    h3 {
      font-size: 1.8rem;
      line-height: 1.5;
      margin-bottom: 1.2rem;
    }
    p {
      font-size: 1.3rem;
      margin-bottom: 1.2rem;

      span {
        display: inline-block;
        width: 20rem;
        // border: 1px solid purple;
        a {
          color: $color-primary-red;
          text-decoration: none;
          border-bottom: 1px solid;
          &:first-child {
            margin-right: 2rem;
          }
          &:hover {
            color: $color-primary-red-dark;
          }
        }
      }
    }
  }
  &__pro-controller-hand {
    width: 47%;
  }
}
.learn-more {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12.5rem;
  height: 4rem;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 1rem;
  text-decoration: none;
  background-color: $color-primary-red;
  color: $color-white;
}
