.updates {
  width: auto;
  height: $grid-height;
  margin: 0 auto;
  padding: 2rem;
}
.status {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: auto;
  height: 100%;
  margin: 0rem auto;

  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 5rem;
    border-top: 1px solid rgba($color-dark, $alpha: 0.3);
    &:last-child {
      border-bottom: 1px solid rgba($color-dark, $alpha: 0.3);
    }
    strong {
      font-weight: 800;
      width: 30%;
    }
    p {
      width: 60%;
      font-size: 1.5rem;
      font-family: "Rubik", sans-serif;
    }
    &--link {
      width: 60%;
      font-size: 1.2rem;
      font-weight: 600;

      a {
        text-decoration: none;
        color: $color-primary-red;
        text-decoration: underline 2px;
        text-underline-offset: 6px;
        &:hover {
          color: $color-primary-red-dark;
        }
      }
    }
  }
}
.list-item {
  display: flex;
  align-items: center;
  width: 22rem;

  &__icon {
    margin-right: 1.5rem;
  }
  span {
    font-size: 1.5rem;
  }
}
.genre {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 19rem;
}
.players {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 37rem;
}
