body {
  font-family: "Lato", sans-serif;
  color: #434242;
  line-height: 1.7;
  width: 100%; }

.header {
  width: 100%;
  background-color: #fff; }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.popup-open {
  overflow: hidden; }

h3 {
  font-weight: 600; }

@keyframes bounce {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.05); }
  70% {
    transform: scale(1.08); } }

@keyframes slide-in-top {
  0% {
    transform: translateY(-2.5rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes slide-out-top {
  100% {
    transform: translateY(0);
    opacity: 1; }
  0% {
    transform: translateY(40rem);
    opacity: 0; } }

.sub-heading {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 2; }

.popup {
  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgba(67, 66, 66, 0.7);
  position: fixed;
  z-index: 1000;
  top: 9rem;
  left: 0;
  backdrop-filter: blur(10px);
  background-color: rgba(67, 66, 66, 0.3); }
  .popup__content {
    position: absolute;
    top: 9rem;
    left: 0;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    background-color: #fff;
    width: 100%;
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0; }
    .popup__content--close {
      width: 2.6rem;
      z-index: 1;
      position: absolute;
      top: 3.7rem;
      right: 4rem;
      background-color: #fff;
      border-radius: 50%;
      fill: #e60012;
      cursor: pointer; }
      .popup__content--close:hover {
        background-color: rgba(255, 255, 255, 0.8); }
    .popup__content--top {
      width: 100%;
      height: 10rem;
      display: flex;
      justify-content: center;
      background-color: #e60012;
      position: relative; }
      .popup__content--top::before {
        content: "";
        position: absolute;
        top: -10px;
        left: 0;
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 50%, 100% 0); }
      .popup__content--top__link {
        text-decoration: none;
        display: flex;
        flex-direction: row;
        align-items: center; }
        .popup__content--top__link--text {
          font-size: 1.8rem;
          font-weight: 700;
          color: #fff; }
      .popup__content--top__icon {
        width: 2.5rem;
        fill: #fff; }
    .popup__content--store {
      width: 60%;
      margin-bottom: 1.5rem; }
    .popup__content--items {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      height: auto;
      padding: 2rem; }

.items {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  .items__heading {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.5rem;
    cursor: pointer; }
    .items__heading--text {
      margin-left: 0.6rem; }
    .items__heading--icon {
      fill: #e60012;
      width: 2.2rem; }
    .items__heading:hover {
      color: #e60012; }
  .items__link {
    margin: 0.5rem 0;
    text-decoration: none;
    color: #434242;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.5; }
    .items__link:hover {
      color: #e60012; }

.popup__close {
  display: none; }

.slide-in-top {
  animation: slide-in-top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

.slide-out-top {
  animation: slide-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }

.header {
  width: 100%;
  height: 8rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem; }
  @media only screen and (max-width: 56.25em) {
    .header {
      display: none; } }

.upper-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 5rem;
  border-bottom: 1px solid rgba(67, 66, 66, 0.5); }

.logo-img {
  height: 5rem; }

.nav-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 40rem;
  height: 5rem;
  position: absolute;
  left: 15rem; }
  .nav-left__line {
    position: absolute;
    width: 95%;
    height: 1px;
    background-color: #434242;
    top: 4.2rem;
    left: 0.6rem; }
    .nav-left__line:hover {
      background-color: #e60012; }

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  width: 80%;
  cursor: pointer; }
  .search__icon {
    height: 2.4rem;
    width: 2.5rem; }
  .search__input {
    position: absolute;
    left: 3rem;
    width: 60%;
    height: 70%;
    border: none;
    outline: none;
    color: rgba(67, 66, 66, 0.5);
    cursor: pointer; }
    .search__input:hover + .nav-left__line {
      background-color: #e60012; }
  .search:hover > * {
    color: #e60012;
    fill: #e60012; }

.category {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 15rem;
  height: 5rem;
  z-index: 10;
  cursor: pointer; }
  .category:hover > * {
    color: #e60012;
    fill: #e60012; }
  .category__icon {
    display: inline-block;
    width: 2.5rem;
    fill: #434242; }
    .category__icon:hover {
      fill: #e60012;
      transition: all 0.5s ease-in; }

/* styling right side of upper nav-bar*/
.nav-right {
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center; }

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 4rem;
  width: 100%; }
  .navigation__item {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
  .navigation__link {
    color: inherit;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600; }
    .navigation__link:hover > * {
      color: #e60012;
      fill: #e60012; }
  .navigation__icon {
    width: 2rem;
    height: 2rem;
    fill: #434242; }

/* styling middle nav-bar*/
.middle {
  width: 100%;
  height: 4rem;
  border-bottom: 1px solid rgba(67, 66, 66, 0.3); }

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80rem;
  height: 4rem;
  margin: 0 auto; }
  .nav__list {
    position: relative;
    list-style: none;
    font-size: 1.5rem;
    padding: 0.5rem 0; }
    .nav__list:first-child::after {
      content: "";
      position: absolute;
      width: 100%;
      bottom: -2px;
      left: 0;
      height: 4px;
      background-color: #e60012; }
    .nav__list:first-child *,
    .nav__list:first-child * :active,
    .nav__list:first-child * :visited {
      color: #e60012;
      fill: #e60012; }
  .nav__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #434242;
    font-weight: 700;
    cursor: pointer; }
    .nav__link:hover > * {
      color: #e60012;
      fill: #e60012; }
  .nav__text {
    margin-left: 0.3rem; }
  .nav__icon {
    fill: #434242;
    height: 2rem;
    width: 2rem; }

.lower {
  width: 80rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto; }
  @media only screen and (max-width: 56.25em) {
    .lower {
      width: 100%; } }

.nav__shipping {
  font-size: 1.5rem;
  font-weight: 400; }
  @media only screen and (max-width: 56.25em) {
    .nav__shipping {
      display: none; } }
  .nav__shipping--text {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  .nav__shipping--icon {
    fill: #e60012;
    width: 2rem; }
  .nav__shipping--text-terms {
    margin: 0 0.3rem; }
    .nav__shipping--text-terms * {
      color: #434242; }

.nav__points {
  font-size: 1.5rem;
  font-weight: 400; }
  @media only screen and (max-width: 56.25em) {
    .nav__points {
      width: auto;
      margin: 0 auto; } }
  .nav__points--text {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  .nav__points--text-points {
    text-decoration: underline; }
    .nav__points--text-points:hover {
      cursor: pointer; }
  .nav__points--icon {
    fill: #e60012;
    width: 2rem;
    margin: 0 0.5rem; }

.nintendo {
  display: none;
  width: 100%;
  height: 6rem;
  background-color: #e60012; }
  @media only screen and (max-width: 56.25em) {
    .nintendo {
      display: block; } }
  .nintendo__logo {
    width: 15rem;
    cursor: pointer; }
  .nintendo__store {
    display: flex;
    justify-content: space-around;
    width: 20rem; }

.nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.flag {
  margin: auto 0;
  width: 3rem;
  border-radius: 5px;
  border: 1px solid #fff;
  cursor: pointer; }

.icon {
  width: 2rem;
  fill: #fff; }

.text {
  font-family: "Rubik", sans-serif;
  font-size: 1.3rem;
  color: #fff;
  font-weight: 600; }

.carousel {
  position: relative;
  max-width: 57%;
  height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column; }
  @media only screen and (max-width: 77.5em) {
    .carousel {
      max-width: 57%;
      height: auto; } }
  .carousel__track {
    width: 100%;
    height: 100%;
    list-style: none;
    position: relative;
    transition: transform 0.7s ease-in-out; }
    @media only screen and (max-width: 56.25em) {
      .carousel__track {
        width: 100%; } }
    @media only screen and (max-width: 64.0625em) {
      .carousel__track {
        width: 100%; } }
    @media only screen and (max-width: 77.5em) {
      .carousel__track {
        width: 100%; } }
  .carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%; }
    @media only screen and (max-width: 77.5em) {
      .carousel__slide {
        width: 100%; } }
  .carousel__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 2rem; }
    @media only screen and (max-width: 77.5em) {
      .carousel__image {
        width: 100%; } }
    @media only screen and (min-width: 77.5em) {
      .carousel__image {
        width: 100%; } }
  .carousel__indicator {
    width: 9rem;
    height: 5rem;
    margin: 1rem 0;
    border-radius: 1rem;
    border: transparent; }
    .carousel__indicator:not(:last-child) {
      margin-right: 2rem; }
    .carousel__indicator--image {
      max-width: 100%; }
    .carousel__indicator:hover {
      border-bottom: 3px solid #e60012;
      cursor: pointer; }
  .carousel__nav {
    display: flex;
    flex-direction: row;
    width: 80rem;
    position: relative;
    margin: 1rem 0; }
    .carousel__nav--button {
      opacity: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: transparent;
      border: 0;
      height: 5rem;
      width: 5rem;
      z-index: 10;
      transition: opacity 0.6s ease-in;
      background-color: rgba(67, 66, 66, 0.3);
      border-radius: 1rem; }
      .carousel__nav--button:hover {
        cursor: pointer; }
    .carousel__nav:hover {
      cursor: pointer; }
      .carousel__nav:hover .carousel__nav--button {
        opacity: 1; }

.track-container {
  text-align: center;
  position: relative;
  width: 100%;
  height: 38rem;
  overflow: hidden; }
  .track-container:hover {
    cursor: progress; }
    .track-container:hover .track-container__button {
      opacity: 1;
      transition: opacity 0.5s; }
  .track-container__button {
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    height: 5rem;
    width: 5rem;
    z-index: 10;
    cursor: pointer; }
    .track-container__button--icon {
      transition: all 0.1s linear; }
      .track-container__button--icon:hover {
        transform: scale(1.4); }

.is-hidden {
  display: none; }

.btn-1 {
  background-image: url("../../resources/images/1.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5; }

.btn-2 {
  background-image: url("../../resources/images/2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5; }

.btn-3 {
  background-image: url("../../resources/images/3.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5; }

.btn-4 {
  background-image: url("../../resources/images/4.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5; }

.btn-5 {
  background-image: url("../../resources/images/5.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5; }

.btn-6 {
  background-image: url("../../resources/images/6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5; }

.btn-7 {
  background-image: url("../../resources/images/7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5; }

.button--right {
  fill: #fff;
  right: 0rem;
  position: absolute; }

.button--left {
  fill: #fff;
  left: 0rem; }

.nav--right {
  right: 31rem;
  fill: #fff; }

.esrb {
  width: 65%;
  height: 8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  @media only screen and (max-width: 77.5em) {
    .esrb {
      width: 80%; } }
  .esrb__image {
    width: 5rem; }
  .esrb__text {
    width: 86%;
    font-size: 1.2rem;
    font-weight: 400; }

.btn, .btn:link, .btn:visited {
  background-color: #e60012;
  text-decoration: none;
  color: #fff;
  border-radius: 1rem;
  font-size: 1.8rem;
  font-weight: 800;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.btn--animated:hover {
  animation: bounce 500ms ease;
  animation-fill-mode: backwards; }

.btn--download {
  width: 100%;
  height: 7rem;
  margin: 2rem 0; }

.btn-icon {
  fill: #fff;
  margin-right: 1.3rem; }

.button-shop {
  display: inline-block;
  width: 12rem;
  height: 5rem;
  border: 1px solid #e60012;
  background-color: none; }

.button-shop {
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration: none;
  color: #e60012;
  display: flex;
  align-items: center;
  justify-content: center; }

.tag {
  transform: rotate(90deg); }

#Shop {
  background-color: none; }

.rating {
  width: 90%;
  height: 20rem;
  margin: 2rem auto;
  display: flex;
  flex-direction: row; }

.esrb-rating {
  width: 50%;
  text-align: center; }
  .esrb-rating__heading {
    margin-bottom: 3rem;
    font-size: 1.4rem;
    font-weight: 800; }
  .esrb-rating__image {
    width: 5rem; }
  .esrb-rating__text {
    text-align: start;
    width: 75%;
    font-size: 1.2rem; }

#everyone {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 10rem;
  margin: 0 auto;
  box-shadow: 1px 2px 5px 4px rgba(67, 66, 66, 0.15);
  border-radius: 1rem; }

.play-modes {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 60%; }
  .play-modes__heading {
    margin-bottom: 3rem;
    font-size: 1.4rem;
    font-weight: 800; }

.modes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto; }
  .modes__tv, .modes__table-top, .modes__hand-held {
    width: 25%;
    height: 6rem;
    border-radius: 1rem;
    background-color: #434242;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; }
    .modes__tv--icon, .modes__table-top--icon, .modes__hand-held--icon {
      fill: #fff; }

.modes--text {
  display: flex;
  flex-direction: column; }

#tv-text,
#hand-held--text,
#tabletop-text {
  position: absolute;
  top: 8rem;
  font-size: 1.4rem;
  font-weight: 600; }

.updates {
  width: auto;
  height: 45rem;
  margin: 0 auto;
  padding: 2rem; }

.status {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: auto;
  height: 100%;
  margin: 0rem auto; }
  .status__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 5rem;
    border-top: 1px solid rgba(67, 66, 66, 0.3); }
    .status__list:last-child {
      border-bottom: 1px solid rgba(67, 66, 66, 0.3); }
    .status__list strong {
      font-weight: 800;
      width: 30%; }
    .status__list p {
      width: 60%;
      font-size: 1.5rem;
      font-family: "Rubik", sans-serif; }
    .status__list--link {
      width: 60%;
      font-size: 1.2rem;
      font-weight: 600; }
      .status__list--link a {
        text-decoration: none;
        color: #e60012;
        text-decoration: underline 2px;
        text-underline-offset: 6px; }
        .status__list--link a:hover {
          color: #b22222; }

.list-item {
  display: flex;
  align-items: center;
  width: 22rem; }
  .list-item__icon {
    margin-right: 1.5rem; }
  .list-item span {
    font-size: 1.5rem; }

.genre {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 19rem; }

.players {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 37rem; }

#online {
  width: 120rem;
  height: auto;
  display: flex; }
  @media only screen and (max-width: 77.5em) {
    #online {
      width: auto; } }

.online {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .online__text {
    font-size: 1.8rem;
    line-height: 1.8;
    font-weight: 800;
    letter-spacing: 1.5;
    margin-bottom: 1.2rem; }
    .online__text sup {
      font-size: 1.1rem;
      font-weight: 800;
      font-family: "Roboto", sans-serif; }
  .online__left {
    width: 38%; }
    .online__left--logo {
      height: 5rem;
      margin-bottom: 2rem; }
    .online__left p {
      font-size: 1.6rem;
      font-weight: 600;
      margin-bottom: 1.2rem; }
      .online__left p span {
        display: inline-block;
        width: auto; }
        .online__left p span a {
          font-weight: 700;
          color: #e60012;
          text-decoration: none;
          text-decoration: underline 1.5px;
          text-underline-offset: 5px; }
          .online__left p span a:first-child {
            margin-right: 2rem; }
          .online__left p span a:hover {
            color: #b22222; }
  .online__pro-controller-hand {
    width: 47%; }

.learn-more {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12.5rem;
  height: 4rem;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 1rem;
  text-decoration: none;
  background-color: #e60012;
  color: #fff; }

.more-games {
  max-width: 120rem;
  height: auto;
  padding: 0 2rem; }

.games-container {
  width: 100%;
  margin: 0 auto;
  height: 38rem;
  position: relative;
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem; }
  .games-container__button--left {
    position: absolute;
    z-index: 1;
    background-color: rgba(67, 66, 66, 0.6);
    opacity: 0.6;
    height: 100%;
    width: 6.6rem;
    border-radius: 1rem;
    border: none;
    transition: background-color 0.3s ease, opacity 0.3s ease; }
    .games-container__button--left:hover {
      cursor: pointer;
      background-color: rgba(67, 66, 66, 0.8);
      opacity: 1; }
      .games-container__button--left:hover .navigation--icon {
        transform: scale(1.5); }
  .games-container__button--right {
    position: absolute;
    right: 0;
    z-index: 1;
    background-color: rgba(67, 66, 66, 0.6);
    opacity: 0.6;
    height: 100%;
    width: 6.6rem;
    border-radius: 1rem;
    border: none;
    transition: background-color 0.3s ease, opacity 0.5s ease; }
    .games-container__button--right:hover {
      cursor: pointer;
      background-color: rgba(67, 66, 66, 0.8);
      opacity: 1; }
      .games-container__button--right:hover .navigation--icon {
        transform: scale(1.5); }

.card-container {
  width: 95%;
  height: 100%;
  margin: auto 0;
  display: grid;
  grid-template-columns: repeat(17, 1fr);
  gap: 3rem;
  align-content: center;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  padding: 1rem; }

.navigation--icon {
  transition: transform 0.3s ease;
  fill: #fff; }

.prev-button {
  position: absolute;
  left: 0; }

.card {
  width: 26rem;
  height: 33rem;
  border: 0.5px solid rgba(67, 66, 66, 0.2);
  border-radius: 1.5rem;
  border-top: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .card:hover {
    cursor: pointer; }
    .card:hover .card__image {
      transform: translateY(-2rem); }
    .card:hover .title strong {
      color: #e60012; }
  .card__image {
    height: 45%;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    transition: transform 0.3s ease-out;
    border-top: 0.5px solid rgba(67, 66, 66, 0.15); }
  .card__about {
    width: 90%;
    height: 55%;
    margin: 0.3rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }

.title {
  display: flex;
  flex-direction: column;
  height: 50%;
  font-family: "Roboto", sans-serif; }
  .title strong {
    font-size: 1.3rem;
    margin-bottom: 0.5rem; }
  .title span {
    font-weight: 400; }
  .title sup {
    font-size: 0.8rem;
    font-weight: 700; }

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 50%; }

.card-price {
  font-size: 1.5rem; }

.card-switch {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.card__heart {
  stroke: #e60012; }

.warning {
  padding: 1rem 2rem; }
  @media only screen and (max-width: 77.5em) {
    .warning {
      width: 100%; } }
  .warning__text {
    margin: auto;
    display: flex;
    flex-direction: column;
    color: rgba(67, 66, 66, 0.9);
    font-size: 1.15rem; }
    .warning__text span {
      width: 100%;
      height: auto;
      box-sizing: border-box; }
      .warning__text span:not(:last-child) {
        margin-bottom: 1rem; }

.footer {
  width: 100%;
  height: 57rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      height: auto; } }
  .footer__top {
    height: 11rem;
    background-color: #e60012;
    display: flex;
    width: 100%; }
    @media only screen and (max-width: 56.25em) {
      .footer__top {
        height: 20rem; } }
    .footer__top div {
      width: 80%;
      height: 100%;
      margin: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      @media only screen and (max-width: 77.5em) {
        .footer__top div {
          width: 100%; } }
      @media only screen and (max-width: 56.25em) {
        .footer__top div {
          width: 100%;
          height: 100%;
          border: 1px solid black;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around; } }
      .footer__top div img {
        margin: auto 0;
        height: 70%; }
        @media only screen and (max-width: 56.25em) {
          .footer__top div img {
            height: 100%; } }
  .footer__middle {
    height: auto;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    @media only screen and (max-width: 77.5em) {
      .footer__middle {
        width: 100%; } }
  .footer__bottom {
    width: 100%;
    height: 10rem;
    background-color: rgba(0, 0, 0, 0.86);
    font-size: 1.24rem; }
    @media only screen and (max-width: 64.0625em) {
      .footer__bottom {
        height: 30rem; } }
    .footer__bottom div {
      width: 80%;
      height: inherit;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin: auto; }
      @media only screen and (max-width: 77.5em) {
        .footer__bottom div {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          width: 100%; } }
      @media only screen and (max-width: 64.0625em) {
        .footer__bottom div {
          width: 60%;
          display: flex;
          flex-direction: column;
          justify-content: space-around; } }
  .footer__text {
    font-weight: 400;
    color: #fff; }
    @media only screen and (min-width: 77.5em) {
      .footer__text {
        height: auto; } }
    @media only screen and (max-width: 64.0625em) {
      .footer__text {
        width: 80%;
        text-align: center; } }

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 60rem;
  list-style-type: none; }
  @media only screen and (min-width: 77.5em) {
    .contact {
      height: auto; } }
  @media only screen and (max-width: 64.0625em) {
    .contact {
      height: 10rem;
      flex-direction: column;
      width: 100%;
      font-weight: 600; } }
  @media only screen and (max-width: 64.0625em) {
    .contact__details {
      width: 80%;
      display: flex;
      justify-content: space-between; } }
  .contact__list {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .contact__link {
    color: #fff;
    text-decoration: none;
    position: relative;
    width: 100%; }
    .contact__link:hover {
      text-decoration: underline 2px solid #e60012;
      text-underline-offset: 3.5px; }
  .contact img {
    width: 2.2rem;
    height: 1.5rem;
    border-radius: 0.4rem;
    border: 1px solid #efefef;
    margin: 0rem 0.5rem; }

.social-media {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style: none; }
  @media only screen and (max-width: 77.5em) {
    .social-media {
      width: 40%; } }

.media-icon {
  width: 3rem;
  height: 3rem;
  fill: #fff; }

.services {
  width: 80%;
  display: table;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1rem; }
  @media only screen and (max-width: 77.5em) {
    .services {
      display: grid;
      grid-template-columns: repeat(3, 1fr); } }
  .services__about, .services__shop, .services__store, .services__support, .services__combined, .services__community {
    display: table-cell;
    width: 20rem;
    height: auto;
    padding: 1rem 2rem;
    font-size: 1.4rem;
    list-style: none;
    font-size: 1.3rem;
    font-weight: 700;
    border-left: 1px solid rgba(67, 66, 66, 0.2); }
    @media only screen and (max-width: 77.5em) {
      .services__about, .services__shop, .services__store, .services__support, .services__combined, .services__community {
        border: none;
        padding: 1rem 0; } }
    .services__about h3, .services__shop h3, .services__store h3, .services__support h3, .services__combined h3, .services__community h3 {
      margin-bottom: 1.4rem; }
      .services__about h3:hover, .services__shop h3:hover, .services__store h3:hover, .services__support h3:hover, .services__combined h3:hover, .services__community h3:hover {
        cursor: pointer;
        text-decoration: underline #b22222;
        text-underline-offset: 4px;
        text-decoration-thickness: 2px; }
  .services__combined {
    border-left: none; }
  .services__about {
    border-left: none; }
  .services__related {
    display: flex;
    flex-direction: column;
    font-size: 1rem; }
    .services__related--parents, .services__related--privacy {
      border-left: 1px solid rgba(67, 66, 66, 0.2);
      padding: 1rem 2rem;
      font-size: 1.4rem;
      list-style: none;
      font-size: 1.3rem;
      font-weight: 700;
      display: table;
      width: 100%; }
      @media only screen and (max-width: 77.5em) {
        .services__related--parents, .services__related--privacy {
          border: none;
          display: flex;
          flex-direction: column;
          padding: 1rem 0; } }
      .services__related--parents h3, .services__related--privacy h3 {
        margin-bottom: 1.4rem; }
        .services__related--parents h3:hover, .services__related--privacy h3:hover {
          cursor: pointer;
          text-decoration: underline #b22222;
          text-underline-offset: 4px;
          text-decoration-thickness: 2px; }
    .services__related--privacy {
      margin-top: 1rem; }
      @media only screen and (max-width: 77.5em) {
        .services__related--privacy {
          margin-top: none; } }

.list {
  margin-bottom: 0.7rem; }

.link {
  color: #e60012;
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-weight: 900; }

.link:hover {
  text-decoration: underline #b22222;
  text-underline-offset: 3px;
  text-decoration-thickness: 2px;
  color: #b22222; }

.privacy-certified {
  width: 80%;
  height: 8rem;
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  justify-content: end; }
  .privacy-certified__image {
    max-width: 100%;
    height: 100%; }

#hero {
  background-color: #d6f0fa;
  position: relative;
  z-index: 1; }
  @media only screen and (max-width: 77.5em) {
    #hero {
      background-color: transparent;
      width: 100%;
      margin: 0 auto; } }

.intro {
  width: 120rem;
  margin: 0 auto;
  height: 65rem;
  padding: 3rem;
  background-color: #fff;
  box-shadow: 0rem 0.5rem 2rem rgba(67, 66, 66, 0.2);
  border-radius: 10px;
  transform: translateY(3rem); }
  @media only screen and (max-width: 77.5em) {
    .intro {
      transform: translateY(0rem);
      width: 95%;
      height: auto;
      margin: 0 auto; } }

#stardew-valley {
  width: 98%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0.5rem auto; }
  @media only screen and (max-width: 77.5em) {
    #stardew-valley {
      width: 100%;
      height: 50rem; } }

.breadcrumb {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 98%;
  margin: 0 auto; }
  .breadcrumb__item {
    list-style-type: none; }
  .breadcrumb__link {
    text-decoration: none;
    font-weight: 600;
    color: #434242;
    font-size: 1.2rem; }
    .breadcrumb__link span {
      display: inline;
      margin: 0.5rem; }

.stardew--price {
  width: 40%; }

.stardew-text {
  text-transform: capitalize;
  border-left: 2px solid #e60012;
  width: auto;
  height: 2rem;
  font-size: 1.3rem;
  padding-left: 0.5rem;
  font-weight: 400;
  display: flex; }

.secondary-heading {
  font-size: 2.6rem;
  text-transform: capitalize;
  margin: 2rem 0rem;
  font-weight: 800; }

.price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.stardew-icon {
  fill: #e60012; }
  .stardew-icon:hover {
    cursor: pointer; }

.stardew--points {
  display: flex;
  align-items: center;
  font-size: 1.2rem; }
  .stardew--points__icon {
    fill: goldenrod; }

.purchase--text {
  font-size: 1.2rem; }

.main {
  width: 120rem;
  height: auto;
  margin: 10rem auto 5rem auto; }
  @media only screen and (max-width: 77.5em) {
    .main {
      width: 100%; } }

.stardew-intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 98%;
  margin: 0 auto;
  padding: 2rem; }
  .stardew-intro__image {
    display: block;
    width: 48%;
    height: 30rem;
    border-radius: 1rem; }

.moving {
  width: 50%; }

.btn-explore {
  height: 5rem;
  width: 70%;
  margin-bottom: 2rem;
  font-size: 1.4rem; }

.moving-text {
  font-size: 1.5rem;
  word-spacing: 0.2em;
  line-height: 1.5; }

#read-more {
  display: flex;
  align-items: center;
  width: 50%;
  margin: 1rem 0rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: #e60012;
  font-weight: 700; }

.more--icon {
  fill: #e60012;
  width: 1.5rem;
  margin-right: 0.5rem; }

#note {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.2rem; }
