body {
  font-family: "Rubik", sans-serif;
  color: #434242;
  line-height: 1.4;
  width: 100%; }

.header {
  width: 100%;
  background-color: #fff; }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.header {
  width: 100%;
  height: 8rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem; }

.upper-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 5rem;
  border-bottom: 1px solid rgba(67, 66, 66, 0.5); }

.logo-img {
  height: 5rem; }

.nav-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 40rem;
  height: 5rem;
  position: absolute;
  left: 15rem; }
  .nav-left:hover {
    color: #e60012;
    transition: linear 0.3s; }
    .nav-left:hover::after {
      cursor: pointer;
      background-color: #e60012; }
  .nav-left::after {
    content: " ";
    width: 95%;
    height: 1px;
    background-color: #434242;
    position: absolute;
    top: 4.2rem;
    left: 0.6rem; }

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  width: 80%; }
  .search__icon {
    height: 2.4rem;
    width: 2.5rem; }
    .search__icon__hover {
      fill: #e60012;
      transition: linear 0.3s; }
  .search__input {
    position: absolute;
    left: 3rem;
    width: 60%;
    height: 70%;
    border: none;
    outline: none; }
    .search__input:hover {
      cursor: pointer;
      color: #e60012;
      transition: linear 0.3s; }

.category {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 15rem;
  height: 5rem;
  z-index: 10; }
  .category:hover {
    color: #e60012;
    transition: all 0.5s ease-in;
    cursor: pointer; }
  .category__icon {
    display: inline-block;
    width: 2.5rem;
    fill: #434242; }
    .category__icon:hover {
      fill: #e60012;
      transition: all 0.5s ease-in; }

/* styling right side of upper nav-bar*/
.nav-right {
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center; }

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 4rem;
  width: 100%; }
  .navigation__item {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
  .navigation__link {
    color: inherit;
    text-decoration: none; }
    .navigation__link:hover {
      color: #e60012;
      transition: all 0.3s ease-in; }
  .navigation__icon {
    width: 2rem;
    height: 2rem;
    fill: #434242; }
    .navigation__icon:hover {
      fill: #e60012;
      transition: all 0.5s ease-in; }

/* styling middle nav-bar*/
.middle {
  width: 100%;
  height: 4rem;
  border-bottom: 1px solid rgba(67, 66, 66, 0.3); }

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px #434242;
  margin: 0 auto;
  height: 4rem;
  font-weight: 400; }
  .nav__list {
    list-style: none;
    font-size: 1.5rem; }
    .nav__list:not(:last-child) {
      margin-right: 2rem; }
  .nav__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #434242; }
    .nav__link:hover {
      cursor: pointer;
      color: #e60012;
      fill: #e60012;
      transition: all 0.4s; }
  .nav__text {
    margin-left: 0.3rem; }
  .nav__icon {
    fill: #434242;
    height: 2rem;
    width: 2rem; }
    .nav__icon:hover {
      fill: #e60012;
      transition: all 0.4s; }

.lower {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center; }

.nav__shipping {
  font-size: 1.5rem;
  font-weight: 400;
  margin-right: 3rem; }
  .nav__shipping--text {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  .nav__shipping--icon {
    fill: #e60012;
    width: 2rem;
    margin: 0 0.5rem; }
  .nav__shipping--text-terms {
    margin: 0 0.3rem; }
    .nav__shipping--text-terms * {
      color: #434242; }

.nav__points {
  font-size: 1.5rem;
  font-weight: 400;
  margin-right: 3rem; }
  .nav__points--text {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  .nav__points--text-points {
    text-decoration: underline; }
    .nav__points--text-points:hover {
      cursor: pointer; }
  .nav__points--icon {
    fill: #e60012;
    width: 2rem;
    margin: 0 0.5rem; }

.carousel {
  position: relative;
  width: 55%;
  overflow-x: hidden; }
  .carousel__track {
    height: 100%;
    list-style: none;
    position: relative;
    transition: transform 0.5s ease-in; }
  .carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%; }
  .carousel__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 2rem; }
  .carousel__indicator {
    width: 9rem;
    height: 5rem;
    margin: 1rem 0;
    border-radius: 1rem;
    border: transparent; }
    .carousel__indicator:not(:last-child) {
      margin-right: 2rem; }
    .carousel__indicator--image {
      max-width: 100%; }
    .carousel__indicator:hover {
      border-bottom: 3px solid #e60012;
      cursor: pointer; }
  .carousel__nav {
    display: flex;
    flex-direction: row;
    width: 80rem;
    position: relative; }
    .carousel__nav--button {
      opacity: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: transparent;
      border: 0;
      height: 5rem;
      width: 5rem;
      z-index: 10;
      transition: opacity 0.6s ease-in;
      background-color: rgba(67, 66, 66, 0.3);
      border-radius: 1rem; }
      .carousel__nav--button:hover {
        cursor: pointer; }
    .carousel__nav:hover {
      cursor: pointer; }
      .carousel__nav:hover .carousel__nav--button {
        opacity: 1; }

.track-container {
  text-align: center;
  position: relative;
  width: 100%;
  height: 30rem;
  overflow: hidden; }
  .track-container:hover {
    cursor: progress; }
    .track-container:hover .track-container__button {
      opacity: 1;
      transition: opacity 0.5s; }
  .track-container__button {
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    height: 5rem;
    width: 5rem;
    z-index: 10;
    transition: opacity 0.6s ease-in; }
    .track-container__button:hover {
      cursor: pointer; }

.is-hidden {
  display: none; }

.btn-1 {
  background-image: url("../../resources/images/1.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5; }

.btn-2 {
  background-image: url("../../resources/images/2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5; }

.btn-3 {
  background-image: url("../../resources/images/3.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5; }

.btn-4 {
  background-image: url("../../resources/images/4.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5; }

.btn-5 {
  background-image: url("../../resources/images/5.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5; }

.btn-6 {
  background-image: url("../../resources/images/6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5; }

.btn-7 {
  background-image: url("../../resources/images/7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5; }

.button--right {
  fill: #fff;
  right: 0rem;
  position: absolute; }

.button--left {
  fill: #fff;
  left: 0rem; }

.nav--right {
  right: 31rem;
  fill: #fff; }

.esrb {
  width: 80%;
  height: 8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  .esrb__image {
    width: 5rem; }
  .esrb__text {
    width: 86%; }

.btn, .btn:link, .btn:visited {
  background-color: #e60012;
  text-decoration: none;
  color: #fff;
  border-radius: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.btn--animated {
  transition: transform 0.3s ease-in-out; }
  .btn--animated:hover {
    transform: scaleX(1.1);
    background-color: firebrick; }

.btn--download {
  width: 100%;
  height: 5rem;
  margin: 2rem 0; }

.btn-icon {
  fill: #fff;
  margin-right: 1.3rem; }

.rating {
  width: 90%;
  height: 20rem;
  border: 1px solid red;
  margin: 2rem auto;
  display: flex;
  flex-direction: row; }

#ersb-rating {
  width: 50%;
  border: 1px solid red; }

#everyone {
  display: flex; }

.play-modes {
  display: flex;
  flex-direction: column; }

.modes {
  display: flex; }

#hero {
  background-color: #d6f0fa;
  position: relative;
  z-index: 1; }

.intro {
  width: 100rem;
  margin: 0 auto;
  height: 56rem;
  padding: 3rem;
  background-color: #fff;
  box-shadow: 0.5rem 0.5rem 1rem rgba(67, 66, 66, 0.2);
  border-radius: 10px;
  transform: translateY(3rem); }

#stardew-valley {
  width: 95%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0.5rem auto; }

.breadcrumb {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .breadcrumb__item {
    list-style-type: none;
    padding: 0.5rem 1rem; }
  .breadcrumb__link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #434242; }
    .breadcrumb__link span {
      display: inline;
      margin: 0.5rem; }

.stardew--price {
  width: 40%; }

.stardew-text {
  text-transform: capitalize;
  border-left: 2px solid #e60012;
  width: auto;
  height: 1.5rem;
  padding-left: 0.5rem;
  font-size: 1.3rem;
  font-weight: 200; }

.secondary-heading {
  font-size: 2.6rem;
  text-transform: capitalize;
  margin: 2rem 0rem; }

.price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.stardew-icon {
  fill: #e60012; }
  .stardew-icon:hover {
    cursor: pointer; }

.stardew--points {
  display: flex;
  align-items: center; }
  .stardew--points__icon {
    fill: goldenrod; }

.main {
  width: 100rem;
  height: 200vh;
  margin: 10rem auto; }

.stardew-intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 0rem 4rem auto; }
  .stardew-intro__image {
    height: 25rem;
    border-radius: 1rem; }

.moving {
  width: 50%; }

.btn-explore {
  height: 4rem;
  width: 27rem;
  margin-bottom: 2rem;
  font-size: 1.4rem; }

.sub-heading {
  margin-bottom: 1rem; }

.moving-text {
  font-size: 1.2em;
  word-spacing: 0.2em;
  line-height: 1.5; }

#read-more {
  display: flex;
  align-items: center;
  width: 50%;
  margin: 1rem 0rem;
  text-decoration: none;
  font-size: 1.3rem;
  color: #e60012;
  font-weight: 600; }

.more--icon {
  fill: #e60012;
  width: 1.5rem;
  margin-right: 0.5rem; }

#note {
  display: block;
  margin-bottom: 1rem; }
